* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-bottom: 20px;
    }
    #game-window {
        width: 84vw;
        height: 42vw;
        background-color: #A8BED8;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        #brick {
            width: 13.8vw;
            margin-bottom: 0.2vw;
            height: 3vw;
            background-color: #4C5475;
        }
        #brick:not(:nth-of-type(6n)) {
            margin-right: 0.2vw
        }
        #brick:nth-of-type(6n) {
            width: 14vw
        }
        #player {
            width: 16vw;
            height: 1vw;
            background-color: #EE8563;
            position: absolute;
        }
    }
}
/*
#4C5475
#A8BED8
#E5EEF6
#EDC57A
#EE8563
*/