* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-bottom: 20px;
    }
    #game-window {
        width: 84vw;
        height: 42vw;
        background-color: #A8BED8;
        display: grid;
        align-content: start;
        grid-template-columns: 6;
        gap: 0.2vw;
        #brick {
            width: 13.8vw;
            height: 3vw;
            background-color: #4C5475;
        }
        #player {
            width: 16vw;
            height: 1vw;
            background-color: #EE8563;
            position: absolute;
        }
    }
}
/*
#4C5475
#A8BED8
#E5EEF6
#EDC57A
#EE8563
*/